@CHARSET "ISO-8859-1";
/*[class*="col-"], footer {
border: 2px solid black;
} */



/*GENERAL*/

@font-face {
  font-family: 'lato', sans-serif;
  src: url("/fonts/lato.ttf");
}

[hidden] {
  display: none !important;
}

.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}

a {
  text-decoration: none;
}

body {
  text-decoration: none;
  margin: 0px;
  box-sizing: none;
 
  font-family: 'lato', sans-serif;

}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
}

.row {
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 100%;
}

.col {
  margin: 0px;
  padding: 0px;
  position: relative;
}

p {
  margin: 0px;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.no-padding-15 {
  padding-left: -15px;
  padding-right: -15px;
}

.no-padding>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.home {
  height: 100%;
  object-fit: none;
}

.manualPlacement{
  margin-top: 15vh;
}


/*NAVBAR CUSTOM */
.navbar-brand {
  font-family: 'Kaushan Script', cursive;

}

.navbar-custom {
  color: #fff;
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 0%;
  padding-bottom: 0%;
  position: absolute;
  margin-right: 0px;
  width: 100%;
  height: 50px;
  z-index: 1202;
  text-decoration: none;
}
.navbar-custom-auth {
  color: #fff;
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 0%;
  padding-bottom: 0%;
  position: absolute;
  margin-right: 0px;
  width: 100%;
  height: 50px;
  z-index: 1202;
  text-decoration: none;

}

.navbar-custom .navbar-brand,
.navbar-custom  {
  color: white;
}
.navbar-custom-auth .navbar-brand-auth,
.navbar-custom-auth  {
  color: grey;
}

.navbar-custom .navbar-nav .nav-link {
  color: #fff;
}
.navbar-custom-auth .navbar-nav-auth .nav-link-auth {
  color: grey!important;
  text-decoration: none !important;
}

.navbar-custom-auth .nav-item-auth.active .nav-link-auth,
.navbar-custom-auth .nav-item-auth:hover .nav-link-auth {
  color: white!important;
  background-color: #7dd8ff;
  object-fit: cover;
  overflow: hidden;
  text-decoration: none !important;

}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #fff;
  background-color: #7dd8ff;
  object-fit: cover;
  overflow: hidden;
}

/*IMAGE CENTRALE*/
.carousel-img {
  background-color: #753325;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  margin: 0px;
  overflow: inherit;
  background: url("../../img/margarita.jpg") no-repeat center;
  background-size: cover;
  animation: ChangeImage 40s infinite alternate-reverse;
}

/* change bg img  */
@keyframes ChangeImage {
  0% {
    background: url("../../img/margarita.jpg") center no-repeat;
    background-size: cover;
  }

  25% {
    background: url("../../img/landaise.jpg") center no-repeat;
    background-size: cover;
  }

  50% {
    background: url("../../img/parma.jpg") center no-repeat;
    background-size: cover;
  }

  75% {
    background: url("../../img/saison.jpg") center no-repeat;
    background-size: cover;
  }
}

.logoplacement {
  position: relative;
  z-index: 10;

}


.firstpart { 
  z-index: 1004;
  background-color: rgba(255, 255, 255, 0.800);
  height: 100vh;
}
.secondpart {
  z-index: 1004;
  background-color: rgba(255, 255, 255, 0.467);
  height: 100vh;
}

#connectPanel{
  background-color: rgba(255, 255, 255, 0.800);
  

}
.card-image {
  
  background-color: red !important;
  height: 25vh;

}

/* lines */
hr {
  background-color: grey;
  margin: 0 10;
  width: 100%;
  height: 3px;
  border: none;
}

.hrlite {

  background-color: grey;
  margin: 0 5;
  width: 60%;
  height: 2px;
 
  border: none;
}


.borderline {
  border-left: solid 1px;
  border-color: white;
}

@media(max-width:1023px) {
  .borderline {
    border-left: solid 0px;
    border-color: white;
  }
}

/* ICONS*/

.iconfooter {
  color: rgb(255, 255, 255);
  font-size: 5px;
  text-align: center;
  margin: 5px;
  z-index: 100000;
  height: 25px;
}

/* FOOTER */
.test {
  background-color: red;
}

.footerbanner {
  background-color: rgba(142, 90, 27, 0.5);
  position: relative;
  margin-bottom: 0px;
  color: white;
  margin-top: 25px;
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
  color: #ffffff;
}

.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-list li a:hover:before {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li a:hover {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 15px;
  transition: 1s;
  text-decoration: none;
}


.legalmention {
  background-color: black;
  width: 100%;
  color: white;
 z-index: 1004;
  margin: 0px;
  padding: 0px;


}

.legalmention a {
  background-color: black;
  width: 100%;
  color: white;

  margin: 0px;
  padding: 0px;
  display:
}


/* MEDIA QUeRIES LOGO*/

@media(min-width:0px) and (max-width: 320px) {
  .logoplacement {
    margin-top: 20%;
    position: relative;

    max-width: 90%;
    z-index: 10;

  }

}

/* MEDIA QUERIES Iphone X NON FONCTIONNEL */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {

  .logoplacement {
    margin-top: 20%;
    position: relative;
    max-width: 90%;
    z-index: 10;
  }
}

@media(min-width:321px) and (max-width: 575.98px) {
  .logoplacement {
    margin-top: 20%;
    position: relative;
    max-width: 90%;
    z-index: 10;
  }

@media(min-width:768px) and (max-width: 991.98px) {
  .logoplacement {
    margin-top: 10%;
    position: relative;
    z-index: 10;
    max-width: 55%;
  }
}
  
@media(min-width:992px) and (max-width: 1200px) {
  .logoplacement {
    margin-top: 8%;
    position: relative;
    z-index: 10;
    max-width: 35%;

  }
}



@media(min-width:1200px) and (max-width: 1439px) {
  .logoplacement {
    margin-top: 5%;
    position: relative;
    z-index: 10;
    max-width: 45%;
  }
}


@media(min-width:1400px) {
  .logoplacement {
    margin-top: 5%;
    position: relative;
    z-index: 10;
    max-width: 45%;
  }
}

/* ANIM CSS BTN ICONS */

.navbar-brand {
  transition: All 0.5s ease;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
  -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
  -o-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
  -ms-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
}

.navbar-brand:hover {
  transform: rotate(0deg) scale(1.177) skew(1deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(1.1) skew(1deg) translate(0px);
  -moz-transform: rotate(0deg) scale(1.1) skew(1deg) translate(0px);
  -o-transform: rotate(0deg) scale(1.1) skew(1deg) translate(0px);
  -ms-transform: rotate(0deg) scale(1.1) skew(1deg) translate(0px);
}

.nav-link {
  transition: All 0.5s ease;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
  -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
  -o-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
  -ms-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
}

.nav-link:hover {
  transform: rotate(0deg) scale(1.177) skew(1deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(1.1) skew(1deg) translate(0px);
  -moz-transform: rotate(0deg) scale(1.1) skew(1deg) translate(0px);
  -o-transform: rotate(0deg) scale(1.1) skew(1deg) translate(0px);
  -ms-transform: rotate(0deg) scale(1.1) skew(1deg) translate(0px);
}

